#affectionTextFilterModal-link{width:100%;text-align:left;margin-right:3px;text-align:left}
.btn-boder {border: 1px solid #ccc!important;padding: 4px 10px!important;}
.toolbar-action-pattern{width:42%;margin:0;text-align:left;float:left;padding-bottom:10px}
.filter-box{border:1px solid #ccc;border-radius:4px;color:#666;cursor:pointer;display:inline-block;float:left;margin:4px;min-height:62px;padding:4px 0;text-align:center;width:180px;padding-left:10px;padding-right:10px}