.printing-types a:hover{
    text-decoration: none;
    color: #7BCD40;
}
.printing-types p{
    padding-left: 10px;
    /*margin-left: 10px;*/
    border-bottom: 1px dotted #f1f1f1;
}
.panel{
    border: :none !important;
    box-shadow:none !important;
}
.help-block{
    font-size: small;
}
